@using Microsoft.AspNetCore.Components.WebAssembly.Services
@inject LazyAssemblyLoader assemblyLoader


<Router AppAssembly="@typeof(Program).Assembly" OnNavigateAsync="OnNavigateAsync">
    <Navigating>
        <p>Loading, please wait...</p>
    </Navigating>
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code{
    private async Task OnNavigateAsync(NavigationContext args)
    {
        if (args.Path.Contains("players"))
        {
            var assemblies = await assemblyLoader.LoadAssembliesAsync(
                new List<string>() {
                    "CoolComponentsLibrary.dll",
                    "Azure.Core.dll",
                    "Azure.Storage.Blobs.dll",
                    "Azure.Storage.Common.dll"
                });
        }
    }
}